body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 10px;
    background: #eee;
    margin: 5px;
}